@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1366px;
    min-height: 100vh;
    margin:0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.aboutimg{
    width: 100% !important;
    height: 100px !important;
}
